#icone-nav {
  font-size: 30px;
}

.home-nav {
  background-color: white;
}

.card-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  p {
    margin-left: 10px;
  }
}
