<div class="home-nav">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="tertiary" class="ion-activatable ripple-parent"
          [routerLink]="(errorSets$ | async) ? '' : ['/sets']">
          <ion-card-content>
            <ion-icon name="grid-outline" id="icone-nav"></ion-icon>
            <p>Sets</p>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card color="primary" class="ion-activatable ripple-parent">
          <ion-card-content>
            <ion-icon name="reader-outline" id="icone-nav"></ion-icon>
            <p>Joker</p>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card color="secondary" class="ion-activatable ripple-parent">
          <ion-card-content>
            <ion-icon name="layers-outline" id="icone-nav"></ion-icon>
            <p>Collection</p>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-segment scrollable *ngIf="setsTop10$ | async as sets; else loadingTop10Sets">
          <ion-segment-button card *ngFor="let set of sets" (click)="goToSetDetail(set)" color="medium">
            <ion-card-content>
              <i [class]="setIconClass(set)"></i>
              <p>{{set.name}}</p>
            </ion-card-content>
          </ion-segment-button>
        </ion-segment>

        <ng-template #loadingTop10Sets>
          <ion-card *ngIf="errorSets$ | async; else loadingNoError">
            <ion-card-content class="card-center card-error">
              <p>Error loading sets!!!</p>
            </ion-card-content>
          </ion-card>

          <ng-template #loadingNoError>
            <ion-card>
              <ion-card-content class="card-center card-load">
                <ion-spinner color="primary"></ion-spinner>
                <p>Loading latest editions...</p>
              </ion-card-content>
            </ion-card>
          </ng-template>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>