<div class="home-nav">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="tertiary" class="ion-activatable ripple-parent">
          <ion-card-content>
            <ion-icon name="grid-outline" id="icone-nav"></ion-icon>
            <p>Sets</p>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card color="primary" class="ion-activatable ripple-parent">
          <ion-card-content>
            <ion-icon name="reader-outline" id="icone-nav"></ion-icon>
            <p>Joker</p>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card color="secondary" class="ion-activatable ripple-parent">
          <ion-card-content>
            <ion-icon name="layers-outline" id="icone-nav"></ion-icon>
            <p>Collection</p>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
