<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-searchbar></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="funnel-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-home-nav [setsTop10$]="setsTop10$" [setsError$]="setsError$"></app-home-nav>

  <app-decks-list [decks$]="decks$" [decksError$]="decksError$"></app-decks-list>
</ion-content>