<div>
  <div *ngIf="cardsList$ | async as cards; else loadingCards">
    <div *ngIf="cards.length > 0; else noCardsFound">
      <ion-list>
        <ion-card *ngFor="let card of cards; let i = index" [style]="styleBorderCard(card)" (click)="goToCardDetail(card, i)">
          <ion-item class="item-background-color">
            <ion-label class="ion-activatable ripple-parent">
              <h2>{{ card.name }}</h2>
              <p>{{ card.type }}</p>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-label>
  
            <div class="card-right">
              <p>
                <i *ngFor="let cor of makeManaCost(card.manaCost)" class="ms ms-{{cor}} ms-cost"></i>
              </p>
              <ion-badge *ngIf="card.power && card.toughness" color="primary">{{ card.power }}/{{ card.toughness }}
              </ion-badge>
            </div>
          </ion-item>
        </ion-card>
      </ion-list>
    </div>

    <ng-template #noCardsFound>
      <app-alert-info msgInfo="No sets found."></app-alert-info>
    </ng-template>
  </div>

  <ng-template #loadingCards>
    <app-load-error msgLoad="Loading cards..." msgError="Error loading cards!!!" [error$]="cardsError$"></app-load-error>
  </ng-template>
</div>